<button type="button" class="btn btn-warning rounded-pill mr-2 btn-sm float-right" data-toggle="modal" data-target="#experienceModal">
  <%= t ".add" %>
</button>
<div class="modal fade" id="experienceModal" tabindex="-1" role="dialog" aria-labelledby="experienceFormModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="experienceModalTitle"><%= t ".experience_information" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="experienceForm">
        <%= render "experience_form", experience: experience %>
      </div>
    </div>
  </div>
</div>
