<tr>
  <td><%= job_application.candidate.full_name %></td>
  <td><%= job_application.created_at %></td>
  <td><span class="tag tag-success"><%= job_application.status %></span></td>
  <td>Actions here</td>
</tr>
