<% provide :title, t(".title") %>
<%= render "shared/start", breadcrumb: [{path: root_path, title: t("layouts.header.home")}, {path: job_applications_path, title: t(".title")}] %>
<section class="section pt-0">
  <div class="container job-application-container">
    <div id="job_applications" class="row">
      <%= render @job_applications %>
    </div>
    <div class="row">
      <div id="paginator" class="col-lg-12 mt-4 pt-2">
        <%= paginate @job_applications, remote: true %>
      </div>
    </div>
  </div>
</section>
<%= javascript_pack_tag "shared/job_applications" %>
