<div class="job-box bg-white overflow-hidden border rounded mt-4 position-relative overflow-hidden">
  <div class="p-4">
    <div class="row align-items-center">
      <div class="col-md-4">
        <div>
          <h5 class="f-18">
            <%= link_to Settings.empty_path, class: "text-dark" do %>
            <% end %>
          </h5>
          <p class="text-muted mb-0"></p>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <p class="text-muted mb-0"><i class="fa fa-map-marker text-primary mr-2"></i></p>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <p class="text-muted mb-0 mo-mb-2"><span class="text-primary">$</span></p>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <p class="text-muted mb-0"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3 bg-light">
    <div class="row">
      <div class="col-md-4">
        <div>
          <p class="text-muted mb-0 mo-mb-2"><span class="text-dark"></span> </p>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <p class="text-muted mb-0 mo-mb-2"><span class="text-dark"> </span> </p>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <%= link_to Settings.empty_path, class: "text-primary" do %>
            <%= t ".apply_now" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
