<section class="bg-half page-next-level">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h4 class="text-uppercase title mb-4"><%= yield(:title) if content_for?(:title) %></h4>
        </div>
      </div>
    </div>
  </div>
</section>
